<!DOCTYPE html>

<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <%if @current_user%>
  <h1><%=@user.user_name%></h1>
   <%end%>
   <%if @current_user%>
   <form action="<%=session_url%>" method="destroy">
   <input type="submit" value="Log Out">
   </form>
   <%else%>
   <form action="<%=new_session_url%>" method="post">
   <input type="submit" value="Sign In">
   </form>

   <%end%>

    <%= yield %>
  </body>
</html>
